USE [master]
GO
/****** Object:  Database [MVCCRUD]    Script Date: 27/11/2023 20:27:56 ******/
CREATE DATABASE [MVCCRUD] ON  PRIMARY 
( NAME = N'MVCCRUD', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MVCCRUD.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCCRUD_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MVCCRUD_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCCRUD]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/11/2023 20:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Fecha] [date] NULL,
	[Clave] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [Nombre], [Fecha], [Clave]) VALUES (1, N'Wilmer', CAST(N'1994-06-24' AS Date), N'123456')
INSERT [dbo].[Usuarios] ([id], [Nombre], [Fecha], [Clave]) VALUES (2, N'Andy', CAST(N'2020-11-27' AS Date), N'1234')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
